.banner {
  width: 100vw;
  height: 500px;
  background-color: #f2f2f2;
}

.itemContainer {
  padding: 80px 320px 180px 319px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 78px 70px;
}


